@media screen and (max-width:600px){

    header{
        display: block;
        text-align: center;
        padding-top: 30px; 
        padding-bottom: 20px;  
    }
    header ul{
        padding-top: 40px;
        text-align: left;
    }    
    #principal{
        display: flex;
        flex-direction: column;
        margin-bottom: 35vh;
    }


}